USE [master]
GO
/****** Object:  Database [sheep]    Script Date: 9/25/2018 6:10:50 PM ******/
CREATE DATABASE [sheep]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sheep', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\sheep.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sheep_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\sheep_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sheep].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sheep]
GO
USE [sheep]
GO
/****** Object:  Schema [ActiveHerd]    Script Date: 9/25/2018 6:10:50 PM ******/
CREATE SCHEMA [ActiveHerd]
GO
/****** Object:  Table [ActiveHerd].[breed]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[breed](
	[BreedCategory] [varchar](50) NOT NULL,
	[BreedDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[BreedCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ActiveHerd].[injectionList]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[injectionList](
	[InjectionType] [varchar](50) NOT NULL,
	[injectionDescription] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[InjectionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ActiveHerd].[sheep]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[sheep](
	[IdNumber] [int] IDENTITY(1,1) NOT NULL,
	[SheepName] [varchar](50) NOT NULL,
	[BreedCategory] [varchar](50) NOT NULL,
	[Gender] [varchar](1) NOT NULL,
	[ShepherdId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ActiveHerd].[sheepShots]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[sheepShots](
	[IdNumber] [int] NOT NULL,
	[ShotType] [varchar](50) NOT NULL,
	[ShotDate] [datetime] NOT NULL,
	[InjectionType] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNumber] ASC,
	[ShotType] ASC,
	[ShotDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ActiveHerd].[shepherd]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[shepherd](
	[ShepherdId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[ShepherdCertification] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShepherdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ActiveHerd].[shotList]    Script Date: 9/25/2018 6:10:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ActiveHerd].[shotList](
	[ShotType] [varchar](50) NOT NULL,
	[shotDescription] [varchar](200) NULL,
	[dayCycle] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShotType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ActiveHerd].[sheep]  WITH CHECK ADD FOREIGN KEY([BreedCategory])
REFERENCES [ActiveHerd].[breed] ([BreedCategory])
GO
ALTER TABLE [ActiveHerd].[sheep]  WITH CHECK ADD FOREIGN KEY([ShepherdId])
REFERENCES [ActiveHerd].[shepherd] ([ShepherdId])
GO
ALTER TABLE [ActiveHerd].[sheepShots]  WITH CHECK ADD FOREIGN KEY([IdNumber])
REFERENCES [ActiveHerd].[sheep] ([IdNumber])
GO
ALTER TABLE [ActiveHerd].[sheepShots]  WITH CHECK ADD FOREIGN KEY([InjectionType])
REFERENCES [ActiveHerd].[injectionList] ([InjectionType])
GO
ALTER TABLE [ActiveHerd].[sheepShots]  WITH CHECK ADD FOREIGN KEY([ShotType])
REFERENCES [ActiveHerd].[shotList] ([ShotType])
GO
USE [master]
GO
